<div class="meumes"hidden>{{users.historico.mes}}</div>
<div class="card-body mx-5">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link text-dark" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Como funciona</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Avatares conquistados</a>
    </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <p class="mt-4 ">A plataforma possui 8 níveis de patentes e respectivos avatares. Todos estudantes começam com o nível 1 e progride em uma quantidade de minutos de atividades, podendo chegar ao Nível 8.</p>
            <h2 class="mt-4 ">Como faça para progredir?</h2>
            <p class="mt-4 ">Para progredir de patente, do nível 1 ao nível 6, você terá que práticar 600 minutos de atividades para cada nível. Já nas ultimas dois níveis, esse valor sobe para 700 minutos.</p>
            <h2 class="mt-4 ">E os avatares?</h2>
            <p class="mt-4 ">Para cada nível, você ganhará um avatar que ficará no seu perfil indicando o seu nível. Entretando, caso deseje ver os avatares que você já ganhoiu basta ir em home->Perfil->Estátistica e Conquista->Conquistas.</p>
            <h2 class="mt-4 ">Por quanto tempo dura os avatares e os Níveis?</h2>
            <p class="mt-4 ">O sistema de Níveis dura por um mês, sempre que o mês acabar e suas horas mensais retornarem a 0, você voltará para o nível 1</p>
        </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="card-deck mt-4 bg-transparent">
        <div class="test card  bg-dark" style="box-shadow: 11px 9px 7px rgba(50, 50, 50, 0.77);">
        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Nível 1"><img src="/1.gif" class="avatar" style="width: 150px;"/></span>
        <div class="card-body text-light">
            <h5 class="card-title">Darwin Evolution</h5>
            <p class="card-text">Charles Robert Darwin estabeleceu a ideia que todos os seres vivos descendem de um ancestral em comum, argumento agora amplamente aceito e considerado um conceito fundamental no meio científico,[5] e propôs a teoria de que os ramos evolutivos são resultados de seleção natural e sexual, onde a luta pela sobrevivência resulta em consequências similares às da seleção artificial.</p>
            <p class="card-text"><small class="text-muted">Todos começam com este avatar</small></p>
        </div>
        </div>
        <div class="test card bg-dark" style="box-shadow: 11px 9px 7px rgba(50, 50, 50, 0.77);">
        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Nível 2"><img src="/2.gif" class="avatar" style="width: 150px;"/></span>
        <div class="card-body text-light">
            <h5 class="card-title">Einstein Relativo</h5>
            <p class="card-text">Albert Einstein foi um físico teórico alemão que desenvolveu a teoria da relatividade geral, um dos pilares da física moderna ao lado da mecânica quântica. Embora mais conhecido por sua fórmula de equivalência massa-energia, E=mc² — que foi chamada de "a equação mais famosa do mundo"</p>
            <p class="card-text"><small class="text-muted">Ganha este avatar com 600 minutos</small></p>
        </div>
        </div>
        <div class="test card bg-dark" style="box-shadow: 11px 9px 7px rgba(50, 50, 50, 0.77);">
        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Nível 3"><img src="/3.gif" class="avatar" style="width: 150px;"/></span>
        <div class="card-body text-light">
            <h5 class="card-title">Issac Graviton</h5>
            <p class="card-text">Isaac Newton sua obra, Princípios Matemáticos da Filosofia Natural [nota 2] é considerada uma das mais influentes na história da ciência. Publicada em 1687, esta obra descreve a lei da gravitação universal e as três leis de Newton, que fundamentaram a mecânica clássica.</p>
            <p class="card-text"><small class="text-muted">Ganha este avatar com 1200 minutos</small></p>
        </div>
        </div>
    </div>
    <div class="card-deck mt-4 bg-transparent">
        <div class="test card bg-dark">
        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Nivel 4"><img src="/4.gif" class="avatar" style="width: 150px;"/></span>
        <div class="card-body text-light">
            <h5 class="card-title">PitEureka</h5>
            <p class="card-text">Pitágoras de Samos foi um dos grandes filósofos pré-socráticos e matemáticos da Grécia Antiga. Um dos mais importantes teoremas da geometria é o Teorema de Pitágoras. É representado pela fórmula (c²= a²+b²).</p>
            <p class="card-text"><small class="text-muted">Ganha este avatar com 1800 minutos</small></p>
        </div>
        </div>
        <div class="test card bg-dark" style="box-shadow: 11px 9px 7px rgba(50, 50, 50, 0.77);">
        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Nivel 5"><img src="/5.gif" class="avatar" style="width: 150px;"/></span>
        <div class="card-body text-light">
            <h5 class="card-title">Hawking Singular</h5>
            <p class="card-text">Stephen William Hawking foi um físico teórico e cosmólogo britânico, reconhecido internacionalmente por sua contribuição à ciência, sendo um dos mais renomados cientistas do século. Seus trabalhos científicos incluem um teorema sobre a singularidade gravitacional no âmbito da relatividade geral e a previsão teórica de que os buracos negros emitem radiação.</p>
            <p class="card-text"><small class="text-muted">Ganha este avatar com 2400 minutos</small></p>
        </div>
        </div>
        <div class="test card bg-dark" style="box-shadow: 11px 9px 7px rgba(50, 50, 50, 0.77);">
        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Nivel 6"><img src="/6.gif" class="avatar" style="width: 150px;"/></span>
        <div class="card-body text-light">
            <h5 class="card-title">Pit O quadrado dos catetos</h5>
            <p class="card-text">Pitágoras de Samos foi um dos grandes filósofos pré-socráticos e matemáticos da Grécia Antiga. Um dos mais importantes teoremas da geometria é o Teorema de Pitágoras. É representado pela fórmula (c²= a²+b²).</p>
            <p class="card-text"><small class="text-muted">Ganha este avatar com 3000 minutos</small></p>
        </div>
        </div>
        </div>
    <div class="card-deck mt-4 bg-transparent">
        <div class="test card bg-dark" style="box-shadow: 11px 9px 7px rgba(50, 50, 50, 0.77);">
        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Nivel 7"><img src="/7.gif" class="avatar" style="width: 150px;"/></span>
        <div class="card-body text-light">
            <h5 class="card-title">Tesla o Iluminado</h5>
            <p class="card-text">Nikola Tesla mais conhecido pelas suas muitas contribuições revolucionárias no campo do electromagnetismo no fim do século XIX e início do século XX. As patentes de Tesla e o seu trabalho teórico formam as bases dos modernos sistemas de potência eléctrica em corrente alternada (AC),[4] incluindo os sistemas polifásicos de distribuição de energia e o motor AC, com os quais ajudou na introdução da Segunda Revolução Industrial.</p>
            <p class="card-text"><small class="text-muted">Ganha este avatar com 3600 minutos</small></p>
        </div>
        </div>
        <div class="test card bg-dark" style="box-shadow: 11px 9px 7px rgba(50, 50, 50, 0.77);">
        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Nivel 8"><img src="/8.gif" class="avatar" style="width: 150px;"/></span>
        <div class="card-body text-light">
            <h5 class="card-title">Marie Curie a mulher dos dois Nobels</h5>
            <p class="card-text">Marie Skłodowska Curie foi uma cientista e física polonesa naturalizada francesa, que conduziu pesquisas pioneiras em todo o mundo no ramo da radioatividade. Foi a primeira mulher a ser laureada com um Prêmio Nobel e a primeira pessoa e única mulher a ganhar o prêmio duas vezes.</p>
            <p class="card-text"><small class="text-muted">Ganha este avatar com 4300 minutos</small></p>
        </div>
        </div>
    </div>
    </div>
    </div>
</div>

<script type="text/javascript">

const x = parseInt(document.getElementsByClassName("meumes")[0].innerText)


  if(x < 600){
    document.getElementsByClassName("avatar")[1].setAttribute("hidden", "true");
    document.getElementsByClassName("test")[1].setAttribute("hidden", "true");
  }
    
  if(x < 1200){
    document.getElementsByClassName("avatar")[2].setAttribute("hidden", "true");
    document.getElementsByClassName("test")[2].setAttribute("hidden", "true");
  }

    if(x < 1800){
      document.getElementsByClassName("avatar")[3].setAttribute("hidden", "true");
      document.getElementsByClassName("test")[3].setAttribute("hidden", "true");
    }

    if(x < 2400){
    document.getElementsByClassName("avatar")[4].setAttribute("hidden", "true");
    document.getElementsByClassName("test")[4].setAttribute("hidden", "true");
    }

    if(x < 3000){
      document.getElementsByClassName("avatar")[5].setAttribute("hidden", "true");
      document.getElementsByClassName("test")[5].setAttribute("hidden", "true");
    }

    if(x < 3600){
      document.getElementsByClassName("avatar")[6].setAttribute("hidden", "true");
      document.getElementsByClassName("test")[6].setAttribute("hidden", "true");
    }
    if(x < 4300){
      document.getElementsByClassName("avatar")[7].setAttribute("hidden", "true");
      document.getElementsByClassName("test")[7].setAttribute("hidden", "true");
    }
    if(x > 4300){
      document.getElementsByClassName("avatar")[8].setAttribute("hidden", "true");
      document.getElementsByClassName("test")[8].setAttribute("hidden", "true");
    }


</script>