<div class="container">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/user/home">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Perfil</li>
    <li class="breadcrumb-item active" aria-current="page">Resumos</li>
    <li class="breadcrumb-item active" aria-current="page">Ler resumos</li>
  </ol>
</nav>
</div>
<div class="textosEmString" hidden>{{resumo.corpo}}</div>
<div class="container">
  <div class="text-center">
    <h4>Assunto: <b>{{resumo.assunto}}</b></h4>
    <h3>{{resumo.titulo}}</h3>
  </div>
  <div class="textosEmHtml">{{resumo.corpo}}</div>
  <div class="col-sm">

  </div>
</div> 


<script>
  const x = document.getElementsByClassName("textosEmString").length
  var resumosEmString = document.getElementsByClassName("textosEmString")
  var i = 0;
  while(i<x){
    document.getElementsByClassName("textosEmHtml")[i].innerHTML = document.getElementsByClassName("textosEmString")[i].innerText
    i++;
  }
</script>