<div class="card">
    <div class="card-body bg-dark test-light">
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active text-warning" id="exatas-tab" data-toggle="tab" href="#exatas" role="tab" aria-controls="exatas" aria-selected="true">Ciências exatas</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link text-warning" id="humanas-tab" data-toggle="tab" href="#humanas" role="tab" aria-controls="humanas" aria-selected="false">Ciências humanas</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link text-warning" id="aplicadas-tab" data-toggle="tab" href="#aplicadas" role="tab" aria-controls="aplicadas" aria-selected="false">Ciências sociais aplicadas</a>
  </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link text-warning" id="saude-tab" data-toggle="tab" href="#saude" role="tab" aria-controls="saude" aria-selected="false">Ciências da saúde</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="exatas" role="tabpanel" aria-labelledby="exatas-tab">
      <ul>
          <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Arquitetura e Urbanismo">Arquitetura e Urbanismo</a></li>
          <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Astronomia">Astronomia</a></li>
          <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Biologia">Biologia</a></li>
          <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Engenharia Elétrica">Engenharia Elétrica</a></li>
          <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Engenharia Civil">Engenharia Civil</a></li>
          <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Engenharia Mecânica">Engenharia Mecânica</a></li>
          <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Engenharia Mecatrônica">Engenharia Mecatrônica</a></li>
          <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Engenharia de Materiais">Engenharia de Materiais</a></li>
          <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Engquimica">Engenharia Química</a></li>
          <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Engenharia de Produção">Engenharia de Produção</a></li>
          <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Engenharia Textil">Engenharia Têxtil</a></li>
          <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Engenharia Ambiental">Engenharia Ambiental</a></li>
          <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Engenharia Biomédica">Engenharia Biomédica</a></li>
          <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Engenharia de Telecomunicações">Ciências Telecomunicações</a></li>
          <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Informática">Informática</a></li>
          <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Computação">Computação</a></li>
          <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Física">Física</a></li>
          <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Química">Química</a></li>
          <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Matemática">Matemática</a></li>
      </ul>
  </div>
  <div class="tab-pane fade" id="humanas" role="tabpanel" aria-labelledby="humanas-tab">
      <ul>
        <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Música">Música</a></li>
        <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Artes">Artes cênicas</a></li>
        <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Letras">Letras</a></li>
        <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/História">História</a></li>
        <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Geografia">geográfia</a></li>
        <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Filósofia">Filosófia</a></li>
        <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Educação Física">Educaçã Física</a></li>
    </ul>
  </div>
  <div class="tab-pane fade" id="aplicadas" role="tabpanel" aria-labelledby="aplicadas-tab">
    <ul>
        <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Adiministração">Adiministração</a></li>
        <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Gastronomia">Gastronomia</a></li>
        <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Pedagogia">Pedagogia</a></li>
        <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Social">Sevirço social</a></li>
        <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Política">Políticas públicas</a></li>
        <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Comunicação">Comunicação</a></li>
        <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Direito">Direito</a></li>
        <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Ecônomia">Economia</a></li>
    </ul>
  </div>
  <div class="tab-pane fade" id="saude" role="tabpanel" aria-labelledby="saude-tab">
    <ul>
        <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Enfermagem">Enfermagem</a></li>
        <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Farmácia">Farmácia</a></li>
        <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Fisioterapia">Fisioterapia</a></li>
        <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Medicina">Medicina</a></li>
        <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Veterinaria">Medicina veterinária</a></li>
        <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Nutricao">Nutrição</a></li>
        <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Odontologia">Odontologia</a></li>
        <li class="text-warning"><a class="text-light" href="/artigo/areaEscolhida/Psicologia">Psicologia</a> </li>
    </ul>
  </div>
</div>


    </div>
</div>
