<div class="container">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-dark">
    <li class="breadcrumb-item"><a class="text-light" href="/user/home">Home</a></li>
    <li class="breadcrumb-item"><a class="text-light" href="/tempo/salaIndividual">Minha sala de estudos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Metas</li>
  </ol>
</nav>
</div>
  <div class="container">
    <h1 class="display-4">Metas</h1>
      <p>Um objetivo sem metas é o mesmo que andar no escuro: você sabe que quer chegar a algum lugar, só não sabe como. Você pode até chegar lá, mas costuma demorar muito mais sem metas. Por isso, no estudo, traçar metas de estudos é de extrema importância. Trace suas metas diárias, semanais e mensais, assim, você alcança seus objetivos com mais eficiência.</p>
    <button type="button" class="btn btn-dark text-light" data-toggle="modal" data-target="#staticBackdrop">
      Adicionar nova Meta
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
      </svg>
    </button>
    <div class="dropdown-divider"></div>
    <h3  class="display-6">Meu quadro de metas:</h3>
      <div class="card-deck my-2">
        {{#each metas}}
            <div class="col-sm">
                <div class="toast bg-dark" role="alert" aria-live="assertive" aria-atomic="true" data-delay="9999999999">
                <div class="toast-header">
                  <strong class="mr-auto">Data meta: {{dataMeta}}</strong>
                </div>
                <div class="toast-body text-light ">
                  <p>{{atividade}}</p>
                  <p>privacidade: {{privacidade}}</p>
                </div>
                <div class="dropdown-divider"></div>
                <div class="sm text-center">
                  <form action="/metaP/deletarMeta" method="POST">
                    <input name="id" value="{{_id}}" hidden>
                    <button type="submit" onclick="desativarBotao(this)" class="btn btn-danger mb-2">Deletar
                        <svg class="bi bi-trash-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                        </svg>
                    </button>
                  </form>
                </div>
              </div>         
            </div>
          {{/each}}
      </div>
      <div class="mt-2">
        <iframe width="100%" height="485" src="https://www.youtube.com/embed/WUmBfwP77O8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
  </div>



<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-secondary">
      <div class="modal-header ">
        <h5 class="modal-title text-light" id="staticBackdropLabel">Informe o texto da nota</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/metaP/registerMeta" method="POST">
        <div class="modal-body">
            <div class="form-group sm">
                <div class="mt-2">
                    <label for="example-date-input" class="text-light">Data para atingir a meta</label>
                    <input name="dataMeta" type="date" value="aaaa-mm-dd" id="example-date-input" required>
                </div>   
                <label for="exampleFormControlTextarea1" class="text-light">Meta</label>
                <input class="form-control" name="atividade" placeholder="Qual a meta que almeja." id="atividade" rows="3">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="privacidade" value="true" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">
                    <span class="d-inline-block text-light" tabindex="0" data-toggle="tooltip" title="Selecionando essa opção, só você verá essa meta.">
                      Tornar essa meta privada
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                      </svg>
                    </span> 
                  </label>    
              </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" onclick="desativarBotao(this)" class="btn btn-success text-light">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function desativarBotao(x){
      setTimeout(function(){ x.setAttribute("disabled" , "disabled") }, 100);
  }

</script>