<footer class="page-footer mt-5">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color: black;">© 2020 Copyright:
    <a style="color: black;"> Dev orion </a>
  </div>
  <!-- Copyright -->

</footer>