<footer class="page-footer mt-5 bg-secondary">

  <!-- Copyright -->
  <div class="footer-copyright text-center text-light py-3" style="color: black;">© 2020 Copyright:
  <a class="text-light" href="/user/equipe"> Devorion </a> || E-mail: devorion01@gmail.com </a>
  </div>
  <!-- Copyright -->

</footer>