{{#if user}}
<nav class="remov navbar navbar-collapse navbar-dark bg-dark ">
  <ul class="nav">
    <li class="nav-item">
      <a class="navbar-brand" href="/user/home" style="color: white;">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
      </svg>
      Improdutiva Estudos LTDA</a>
    </li>
  </ul>
  <div class="dropdown">
    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img class="rounded-circle" style="width: 25px; height: 25px;" src="{{user.foto}}"> - {{user.name}}
    </button>
    <div class="dropdown-menu"  aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/perfis/meuPerfil">Perfil</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/config/config">Config</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/user/suporte">Suporte</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/user/logout/{{user._id}}">Logout - <svg class="bi bi-box-arrow-right" width="15px" height="15px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M11.646 11.354a.5.5 0 0 1 0-.708L14.293 8l-2.647-2.646a.5.5 0 0 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z"/>
      <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
      <path fill-rule="evenodd" d="M2 13.5A1.5 1.5 0 0 1 .5 12V4A1.5 1.5 0 0 1 2 2.5h7A1.5 1.5 0 0 1 10.5 4v1.5a.5.5 0 0 1-1 0V4a.5.5 0 0 0-.5-.5H2a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5v-1.5a.5.5 0 0 1 1 0V12A1.5 1.5 0 0 1 9 13.5H2z"/>
    </svg></a>
    </div>
  </div>
</nav>

<nav class="remov nav navbar-collapse shadow-sm mb-3 small" style="width: 100%; background-color: #C0C0C0;">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><b>Playlist</b>
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-music-note" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path d="M9 13c0 1.105-1.12 2-2.5 2S4 14.105 4 13s1.12-2 2.5-2 2.5.895 2.5 2z"/>
      <path fill-rule="evenodd" d="M9 3v10H8V3h1z"/>
      <path d="M8 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 13 2.22V4L8 5V2.82z"/>
    </svg>
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-headphones" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M8 3a5 5 0 0 0-5 5v4.5H2V8a6 6 0 1 1 12 0v4.5h-1V8a5 5 0 0 0-5-5z"/>
      <path d="M11 10a1 1 0 0 1 1-1h2v4a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1v-3zm-6 0a1 1 0 0 0-1-1H2v4a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-3z"/>
    </svg>
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=5qap5aO4i9A"><span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Vídeo e Áudio">lofi hip hop radio - beats to relax/study to</span></a>
      <a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=DWcJFNfaw9c"><span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Vídeo e Áudio">lofi hip hop radio - beats to sleep/chill to</span></a>
      <a class="dropdown-item" target="_blank" href="https://drive.google.com/file/d/1jqdIBZAzQrslbnkXQg7xKy3n8unHIa9J/preview"><span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Apenas Áudio">Sonorização</span></a>
      <a class="dropdown-item" target="_blank" href="https://drive.google.com/file/d/1TtrKAhOSVEtEWbFrHPSI2As3VsEUmupw/preview"><span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Apenas Áudio">Instrumental-1</span></a>
      <a class="dropdown-item" target="_blank" href="https://drive.google.com/file/d/1_PBYWvyKgeG4CP2gePpOsHdHDcqLa1RE/preview"><span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Apenas Áudio">Instrumental-2</span></a>
    </div>
  </li>

  <ul class="nav nav-tabs border-0">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><b>Minhas salas</b></a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/tempo/salaIndividual">Minha Sala de estudo</a>
        <a class="dropdown-item" href="/coletiva/minhas-salas-coletivas">Minhas salas coletivas</a>
        <a class="dropdown-item" href="/tempo/aberto">Sala do tempo</a>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link text-dark" href="/rank/geral" role="button"><b>Ranks</b></a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-dark" role="button"><b>Resumos</b></a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-dark" href="/turma/minha-turma" role="button" aria-haspopup="true" aria-expanded="false"><b>Turma</b></a>
    </li>
  </ul>
</nav>



  {{else}}
  <nav class="navbar navbar-dark bg-dark ">
  <ul class="nav ">
    <li class="nav-item">
      <a class="navbar-brand " href="/" style="color: white;">
        Improdutiva Estudos LTDA
      </a>
    </li>
  </ul>
  <ul class="nav">
    <li class="nav-item ">
      <a type="button" href="/user/registrodeusuario" class="btn-light btn-sm mx-1">Cadastrar</a>
    </li>
    <li class="nav-item">
      <a href="/user/login" type="button" class="btn btn-outline-light btn-sm mx-1">Login</a>
    </li>
  </ul>
  </nav>

  <nav class="nav navbar-collapse navbar-dark  sticky-top small" style="width: 100%; background-color: #C0C0C0;">
    <ul class="nav nav-tabs bg-transparent border-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Playlist
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-music-note" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 13c0 1.105-1.12 2-2.5 2S4 14.105 4 13s1.12-2 2.5-2 2.5.895 2.5 2z"/>
          <path fill-rule="evenodd" d="M9 3v10H8V3h1z"/>
          <path d="M8 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 13 2.22V4L8 5V2.82z"/>
        </svg>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-headphones" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 3a5 5 0 0 0-5 5v4.5H2V8a6 6 0 1 1 12 0v4.5h-1V8a5 5 0 0 0-5-5z"/>
          <path d="M11 10a1 1 0 0 1 1-1h2v4a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1v-3zm-6 0a1 1 0 0 0-1-1H2v4a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-3z"/>
        </svg>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=5qap5aO4i9A"><span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Vídeo e Áudio">lofi hip hop radio - beats to relax/study to</span></a>
          <a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=DWcJFNfaw9c"><span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Vídeo e Áudio">lofi hip hop radio - beats to sleep/chill to</span></a>
          <a class="dropdown-item" target="_blank" href="https://drive.google.com/file/d/1jqdIBZAzQrslbnkXQg7xKy3n8unHIa9J/preview"><span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Apenas Áudio">Sonorização</span></a>
          <a class="dropdown-item" target="_blank" href="https://drive.google.com/file/d/1TtrKAhOSVEtEWbFrHPSI2As3VsEUmupw/preview"><span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Apenas Áudio">Instrumental-1</span></a>
          <a class="dropdown-item" target="_blank" href="https://drive.google.com/file/d/1_PBYWvyKgeG4CP2gePpOsHdHDcqLa1RE/preview"><span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Apenas Áudio">Instrumental-2</span></a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link text-dark" href="/tempo/salaIndividualPublica" role="button" aria-haspopup="true" aria-expanded="false">Salas de estudo</a>
      </li>

    <li class="nav-item">
      <a class="nav-link text-dark" href="/rank/geralPublico" role="button">Ranks</a>
    </li>

      <li class="nav-item dropdown">
        <a class="nav-link text-dark" href="#turmas" role="button" aria-haspopup="true" aria-expanded="false">Turma</a>
      </li>


    </ul>
  </nav>
  {{/if}}
