 <form action="/resumoP/registerTag" method="POST"> 
  <div class="form-group col-sm-4 text-center" style="margin: 0 auto;">
    <label for="tag">Nova Tag</label>
    <input class="form-control" name="tag" id="tag" rows="1"></input>
    <button type="submit" class="btn btn-dark my-2">salvar</button>
  </div>
</form>