 <form action="/resumoP/registerTag" method="POST"> 
  <div class="form-group col-sm-4 text-center" style="margin: 0 auto;">
    <label for="tag">Nova Tag</label>
    <input class="form-control" name="tag" id="tag" rows="1"></input>
    <a type="button" class="btn btn-outline-light my-2">salvar</a>
  </div>
</form>