<div class="mx-4">
    <div class="alert alert-primary" role="alert">
    Os campos que possuem '*' são obrigatórios.
    </div>
    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Adicionar tag não existente.">
        <a href="/resumo/adicionar-tag" type="button" target="_blank" class="btn btn-outline-light my-1">Adicionar tag</a>
    </span>
    <form action="/resumoP/registerResumo" method="POST">
        <div class="form-group sm">
            <div class="row">
                <div class="col">
                <label for="exampleFormControlSelect1">Tag</label>
                    <select class="form-control" name="tag" id="exampleFormControlSelect1">
                        {{#each tag}}
                            <option value="{{{_id}}}">{{tags}}</option>
                        {{/each}}
                    </select>                
                </div>
                <div class="col">
                    <label for="name" class="text-light">Assunto*</label>
                    <input type="text" name="assunto" class="form-control" placeholder="Sobre qual assunto será o resumo" required>
                </div>
            </div>
            <label for="name" class="text-light">Titulo*</label>
            <input type="text" name="titulo" id="name" class="form-control my-1" placeholder="Qual o titulo do resumo" required>
            <label for="corpo">Corpo*</label>
            <textarea maxlength="5000" class="form-control" name="corpo" id="corpo" rows="30" required>Escreva aqui o seu resumo. (max caracteres: 5000)</textarea>
            <label for="name" class="text-light">Referências</label>
            <input type="text" name="ref" id="name" class="form-control my-1" placeholder="referencia sobre o que escreveu. Pode ser link de sites, documentos, videos ou até mesmo livros.">
            <button type="submit" class="btn btn-light my-1">Salvar</button>
        </div>
    </form>
</div>

<script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>
<script type="text/javascript">
        bkLib.onDomLoaded(function() { nicEditors.allTextAreas() }); // convert all text areas to rich text editor on that page

        bkLib.onDomLoaded(function() {
             new nicEditor().panelInstance('corpo');
        }); // convert text area with id area1 to rich text editor.

</script>