
<main role="main" class="inner cover text-light text-center">
    <h1 class="cover-heading">Devorion</h1>
    <p class="lead">Devorion é um grupo de estudantes reunidos no intuito de buscar soluções digitais.</p>

</main>
<div class="row text-light">
      <div class="col-lg-4 text-center">
        <img class="rounded-circle" src="https://instagram.fnat1-1.fna.fbcdn.net/v/t51.2885-19/s150x150/70464836_1246945115484749_6960622848293470208_n.jpg?_nc_ht=instagram.fnat1-1.fna.fbcdn.net&_nc_ohc=2CtsOtl8-BEAX-OFAf-&oh=76d2286c1313acb1fb08c7006d662d84&oe=5F32979F" alt="devorion"/>
        <h2>Junior Teixeira</h2>
        <p>Idealizador e desenvolverdor da plataforma;</p>
        <p>Graduando em Bacharelado em Ciência e Tecnologia com ênfase em Engenharia da computação pela Universidade Federal do Rio Grande do Norte (UFRN);</p>
        <p> Graduando em Técnico Tecnologia da Informação com ênfase em web Pela (UFRN);</p>
        <p><b>E-mail</b>: juniorteixeira1805@ufrn.edu.br</p>
        <p><b>Linkedin</b>: <a class="text-light" target="_blank" href="https://www.linkedin.com/feed/?trk=onboarding-landing">Junior Teixeira</a></p>
        <p><b>Lattes</b>: <a class="text-light" target="_blank" href="http://lattes.cnpq.br/0448230105228511">Junior Teixeira</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <img class="rounded-circle" style="max" src="/equipe/alice.jpeg" alt="devorion"/>
        <h2>Alice Costa</h2>
        <p>Produtora de conteúdo e Marketing da plataforma;</p>
        <p>Bacharel em Ciência e Tecnologia pela Universidade do Estado do Rio Grande do Norte-Natal (UERN).</p>
        <p>Graduanda de Engenharia de Materiais na Universidade Federal do Rio Grande do Norte (UFRN).</p>
        <p>Curso de Marketing digital pela Mirago.</p>
        <p>Estudante de Produção de conteúdo para web pela Rock University. </p>
        <p><b>E-mail</b>: alicecostacs1@gmail.com</p>
        <p><b>Linkedin</b>: <a class="text-light" target="_blank" href="https://www.linkedin.com/in/alice-da-costa-silva-350572168/">Alice Costa</a></p>
        <p><b>Lattes</b>: <a class="text-light" target="_blank" href="http://lattes.cnpq.br/7002819165082526">Alice Costa</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <img class="rounded-circle" style="max" src="https://instagram.fnat1-1.fna.fbcdn.net/v/t51.2885-19/s150x150/71172902_521282172031543_6703410494025236480_n.jpg?_nc_ht=instagram.fnat1-1.fna.fbcdn.net&_nc_ohc=YgC6OfF4M7wAX9y5gPd&oh=0b9cad16b8846b039c3547acf8ca0814&oe=5F348038" alt="devorion"/>
        <h2>Mateus dos Santos Loiola</h2>
        <p>Graduando em Bacharelado em Tecnologia da Informação com ênfase em Ciência da Computação pela Universidade Federal do Rio Grande do Norte (UFRN).</p>
        <p> Graduando em Técnico Tecnologia da Informação com ênfase em web Pela (UFRN);</p>        
        <p><b>E-mail</b>: loiolamateus7@gmail.com</p>
        <p><b>Lattes</b>: <a class="text-light" target="_blank" href="http://lattes.cnpq.br/8460927742429071">Mateus Loiola</a></p>
      </div><!-- /.col-lg-4 -->
</div>
<div class="mt-4 text-light text-center">
    <h1 class="cover-heading"><b>Colaboradores</b></h1>
    <div class="row text-light mt-4">
        <div class="col-lg-4 text-center">
        <img class="rounded-circle" width="150px" height="150px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSGp-DKfHi1i84-C0AknD1Pdogn1cFutoHuX5dNVvrf6Q3bSI9i&usqp=CAU" alt="devorion"/>
        <h2>Song Jong</h2>
        <p>Graduando em Bacharelado em Tecnologia da Informação pela Universidade Federal do Rio Grande do Norte (UFRN);</p>
        <p><b>E-mail</b>: janeirode97@gmail.com</p>
        <p><b>Lattes</b>: <a class="text-light" target="_blank" href="http://lattes.cnpq.br/7072740507731705">Song Jong</a></p>
        </div><!-- /.col-lg-4 -->
    </div>

</div>
