<div class="container my-5 text-center">
	<div class="card-deck col-sm-4" style="margin: 0 auto;">
		<div class="card">
			<div class="card-body">
				<form action="/adm/verif" method="POST">
					<div class="form-group">
						<input type="email" class="form-control" id="email" name="email" placeholder="email@exemplo.com">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" name="password" id="password" placeholder="Senha">
						</div>
					<div class="text-center">
					<button type="submit" class="btn btn-dark mt-2 align-middle">Login</button>
					</div>
				</form>
			<p class="card-text"></p>
			</div>
			<div class="card-footer">
			<small class="text-muted">Clique em Cadastrar para realizar seu cadastro</small>
			</div>
		</div>
	</div>
</div>
<script>
	alert("area administrativa")
</script>
