<div class="container">
  <div class="card-deck">
    <div class="card bg-dark text-light">
      <img class="card-img-top" src="/system/sistema.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Sistema Solar</h5>
        <p class="card-text">Veja seu sistema solar. A quantidade de planetas do seu sistema é de acordo com a quantdade de Neutrinos que você possui.</p>
      </div>
      <div class="card-footer">
        <a href="/user/sistema-solar" class="text-center text-light" target="_blank">Ver meu Sistema</a>
      </div>
    </div>
    <div class="card bg-dark text-light">
      <img class="card-img-top" src="/planetas/img.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Planetas</h5>
        <p class="card-text">Veja seus planetas e descrições. A quantidade de planetas do seu sistema é de acordo com a quantdade de Neutrinos que você possui. (FUNCIONALIDADE NÃO CONCLUÍDA)</p>
      </div>
      <div class="card-footer">
        <a href="/user/planetas" class="text-center text-light" target="_blank">Ver meus planetas</a>
      </div>
    </div>
  </div>
</div>
