<div class="mb-5" style="background-color: #C0C0C0;">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active text-center">
        <img src="/backgrounds/2.jpg" class="d-block w-100"  alt="...">
        <div class="carousel-caption d-none d-md-block text-light">
            <h5><b style="text-shadow: black 0.1em 0.1em 0.2em;">Salas de estudos</b></h5>
            <p><b style="text-shadow: black 0.1em 0.1em 0.2em;">Salas de estudos personalzadas</b></p>
        </div>
        </div>

        <div class="carousel-item text-center">
        <img src="/backgrounds/1.jpg"  class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block text-light">
            <h5><b style="text-shadow: black 0.1em 0.1em 0.2em;">Pomodoro</b></h5>
            <p><b style="text-shadow: black 0.1em 0.1em 0.2em;">Métodos como o pomodoro para facilitar o aprendizado</b></p>
        </div>
        </div>

        <div class="carousel-item text-center">
        <img src="/backgrounds/3.jpg" class="d-block w-100"  alt="...">
        <div class="carousel-caption d-none d-md-block text-light">
            <h5><b style="text-shadow: black 0.1em 0.1em 0.2em;">Cronograma</b></h5>
            <p><b style="text-shadow: black 0.1em 0.1em 0.2em;">Você pode montar seu cronograma</b></p>
        </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>
    <div class="container mt-5">
        <div class="text-center mb-4">
            <img src="/backgrounds/logo.png" alt="" style="width: 25%;">
        </div>
        <div class="row mb-5 bg-transparent text-dark text-center">
            <div class="col-sm text-dark">
                <div class="media-body">
                    <h5><p class="text-sencondary">A improdutiva Estudos LTDA é uma plataforma que foi desenvolvida visando facilitar a sua rotina de estudos. Aqui você poderá desenvolver a sua rotina de estudos  e torna-la mais estimulante.</p></h5>
                    <br>
                    <h5><p>Aqui na plataforma você conta com varias ferramentas que auxiliam a capacidade de aprendizagem do estudante, por exemplo: <ul class="text-left"><li>Marcadores de tempos, entre eles o Pomodoro, para você aproveitar o tempo da melhor forma e potencializar a memorização;</li><li>Um ranking de desempenho entre os usuários, estimulando atraves da competição;</li><li>Sala de estudos individual na qual você pode criar: seus próprios resumos, definir suas metas, criar suas notas;</li><li>Sala de estudos coletiva. Você pode criar uma sala e adicionar seus amigos, atribuindo metas semanais para cada um deles;</li><li>"Seguir" seus amigos. Você pode enturmar seus amigos, assim acompanhar toda a rotina de estudos dele, contando com um feed na sua pagina inicial.</li></ul></p></h5>
                    <p>Faça seu cadastro.</p>
                </div>
            </div> 
        </div>

    </div>
</div>
