<div class="mb-5" style="background-color: #C0C0C0;">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active text-center">
        <img src="/backgrounds/1.jpg"  class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block text-light">
            <h5><b style="text-shadow: black 0.1em 0.1em 0.2em;">Pomodoro</b></h5>
            <p><b style="text-shadow: black 0.1em 0.1em 0.2em;">Métodos como o pomodoro para facilitar o aprendizado</b></p>
        </div>
        </div>
        <div class="carousel-item text-center">
        <img src="/backgrounds/2.jpg" class="d-block w-100"  alt="...">
        <div class="carousel-caption d-none d-md-block text-light">
            <h5><b style="text-shadow: black 0.1em 0.1em 0.2em;">Salas de estudos</b></h5>
            <p><b style="text-shadow: black 0.1em 0.1em 0.2em;">salas de estudos personalzadas</b></p>
        </div>
        </div>
        <div class="carousel-item text-center">
        <img src="/backgrounds/3.jpg" class="d-block w-100"  alt="...">
        <div class="carousel-caption d-none d-md-block text-light">
            <h5><b style="text-shadow: black 0.1em 0.1em 0.2em;">Cronograma</b></h5>
            <p><b style="text-shadow: black 0.1em 0.1em 0.2em;">Você pode montar seu cronograma</b></p>
        </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>
    <div class="container mt-5">
        <div class="text-center mb-4">
            <img src="/backgrounds/logoPreto.png" alt="" style="width: 60%;">
        </div>
        <div class="row mb-5 bg-transparent text-dark text-center">
            <div class="col-sm text-dark">
                <div class="media-body">
                    <h5><b class="text-sencondary">A improdutiva Estudos LTDA é uma plataforma que foi desenvolvida visando facilitar a sua rotina de estudos. Aqui você poderá criar a sua rotina de estudos, caso não tenha esse hábito.</b></h5>
                    <h5><b>Aqui na plataforma você conta com um contador de tempo de estudos, um ranking de desempenho entre os usuários, uma sala de estudos individual que você pode criar: seus próprios resumos, definir suas metas, criar suas notas. Conosco você também conta com um sistema de tempo guiado que lhe ajudará a manter o foco e descansar, aumentando a sua produtividade, e muitas outras funcionalidades.</b></h5>
                </div>
            </div> 
        </div>

        <div class="col-sm text-dark" id="playlist">
            <div class="media-body">
                <div class="dropdown-divider col-sm"></div>
                <h2 class="mt-5"><b>Playlist</b></h2>
                <p><b>Há quem diga que os sons podem estimular as atividades cerebral e favorecem o rendimento. O que você acha sobre isso? Já fez essa tentativa? Disponibilizamos em nossa plataforma algumas sugestões de playlists para estudar que podem inspirar a sua rotina de aprendizado. Confira e aproveite! </b></p>
                <ul>
                    <li>
                        <h4 class="my-3"><b>Playlist para foco e concentração</b></h4>
                        <p><b>Foco e concentração são dois dos maiores aliados de quem está estudando, seja para conseguir boas notas, na escola, na faculdade, ter um bom desempenho em concursos, entre outras situações. E sabendo que muitas vezes o fato da quantidade de conteúdo a serem estudados acabam por complicar a rotina de estudos. Então aqui temos playlists especiais para quem precisa de uma força extra para manter o foco nas suas rotinas ou até mesmo para quem pretende fazer maratona de estudos.</b></p>
                    </li>
                    <li>
                        <h4 class="my-3"><b>Playlist instrumental para estudar</b></h4>
                        <p><b>Para mentes ativas e criativas as playlists instrumentais estão entre as principais recomendações, pois com elas é possível aumentar o tempo de atenção em uma determinada atividade, assim como a capacidade de absorver novos conteúdos também podem ser ampliadas</b></p>
                    </li>
                    <li>
                        <h4 class="my-3"><b>Playlist relaxante</b></h4>
                        <p><b>Muitas vezes a rotina do dia a dia se tornam exaustivas e desmotivadoras, e isso acaba afetando o seu desempenho. Essa playlist trás sons que ajudam a deixar os estudantes menos tensos e a relaxar na hora do estudo. Além disso, esses sons podem aumentar o funcionamento cognitivo, otimizar a capacidade de concentração, aumentando assim a satisfação de forma geral.</b></p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-sm text-dark" id="salas">
            <div class="media-body">
                <div class="dropdown-divider col-sm"></div>
                <h2 class="mt-5"><b>Sala de estudos</b></h2>
                <p><b>A Sala de estudos tem finalidade ajudar a você a ter mais facilidade para focar nos estudos, interagir com outros usuários, estudar juntos, compartilhar arquivos, criar um rank só com seus amigos. Dessa forma você tem as opções de modo aberto, a sala de estudos individual e a sala compartilhada.</b></p>
                <ul>
                    <li>
                        <h4 class="my-3"><b>Modo aberto</b></h4>
                        <p><b>Foco e concentração são dois dos maiores aliados de quem está estudando, seja para conseguir boas notas, na escola, na faculdade, ter um bom desempenho em concursos, entre outras situações. E sabendo que muitas vezes o fato da quantidade de conteúdo a serem estudados acabam por complicar a rotina de estudos. Então aqui temos playlists especiais para quem precisa de uma força extra para manter o foco nas suas rotinas ou até mesmo para quem pretende fazer maratona de estudos.</b></p>
                    </li>
                    <li>
                        <h4 class="my-3"><b>Sala de estudos individual </b></h4>
                        <p><b>Ao optar pela sala individual você será direcionado para uma página privada que só você terá acesso, nela você poderá:</b></p>
                        <p><b>1ª opção é escrever resumos: escrever resumos enquanto estudam, eles ficaram disponíveis por 30 dias. De toda forma, será permitido que apague os resumos criados antes do tempo limite determinado.</b></p>
                        <p><b>2ª opção é adicionar notas:  nessa opção você pode criar notas com a finalidade de servir como pequenos lembretes.</b></p>
                        <p><b>3ª opção é adicionar metas: trace suas metas diárias, semanais e mensais, assim, você atingirá seus objetivos com mais eficiência.</b></p>
                        <p><b>5ª opção é o tempo guiado: Esse sistema possui três métodos de tempo guiado que buscam auxiliar o usuário a manter o foco e aumentar a sua produtividade, os métodos são: o iniciante, avançado e livre:</b></p>
                        <ul>
                            <li>
                                <p><b>No método iniciante, o usuário terá 25 min de foco e 5 min para descansar. </b></p>
                            </li>
                            <li>
                                <p><b>Na opção Avançado, o usuário ficará estudando por 50 min e descansará por 10 min. </b></p>
                            </li>
                            <li>
                                <p><b>No método livre, o usuário poderá estudar o tempo que quiser e descansar o quanto quiser, é só ele mesmo registrar no temporizador o tempo que estudará e o tempo que descansará.</b></p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


