<script>
nav = document.getElementsByClassName("remov")
nav[0].setAttribute("hidden", "hidden")
nav[1].setAttribute("hidden", "hidden")
</script>


<iframe src="http://repositorioimg.devorion.repl.co/" title="description" style="border: none; width: 100%; height: 700px;">
<div class="neutrinos">1500</div>
<script>
  const meumes = parseInt(document.getElementsByClassName("neutrinos")[0].innerText)
  if(meumes > 49){
      document.getElementsByClassName("planet2")[0].removeAttribute("disabled", "disabled");
  } 
    if((meumes > 99)){
        document.getElementsByClassName("planet3")[0].removeAttribute("disabled", "disabled");
    
    }
    if(meumes > 199){
      document.getElementsByClassName("planet4")[0].removeAttribute("disabled", "disabled");
    }
    if(meumes > 399){
      document.getElementsByClassName("planet5")[0].removeAttribute("disabled", "disabled");
    }
    if(meumes > 799){
      document.getElementsByClassName("planet6")[0].removeAttribute("disabled", "disabled");
    } 
    if(meumes > 1599){
      document.getElementsByClassName("planet7")[0].removeAttribute("disabled", "disabled");
    }
      if(meumes > 3199){
      document.getElementsByClassName("planet8")[0].removeAttribute("disabled", "disabled");
    }
  </script>