<!DOCTYPE html>
<html lang="pt-br">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script>
        const socket = io()
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171116649-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-171116649-1');
    </script>
    <script data-ad-client="ca-pub-5854686418697793" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script> 
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Improdutiva Estudos LTDA</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body class="text-info" style="background-color: #B0C4DE; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">

    {{>_navibar}}
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg"></div>
            <div class="col-lg-12">
                {{>_msg}}
            </div>
            <div class="col-lg"></div>
        </div>
        
        {{{body}}}
    </div>
    {{>_footer}}

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
$('.toast').toast('show');
$(document).ready(function() { 
    $("#myBtn").click(function() { 
        $('.toast').toast('show'); 
    }); 
}); 
$(".btn-sm").click(function() 
{
    var emoji = $(this).text();
    $('#conteudo').val($('#conteudo').val() + emoji);
}); 
function onSubmit(token) {
    document.getElementById("demo-form").submit();
}
</script>


</body>


</html>

