<div class="card">
    <div class="card-body bg-dark test-light">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active text-warning" id="Psicologia-tab" data-toggle="tab" href="#Psicologia" role="tab" aria-controls="Psicologia" aria-selected="true">Psicologia</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link text-warning" id="ficção-tab" data-toggle="tab" href="#ficção" role="tab" aria-controls="ficção" aria-selected="false">Ficção</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link text-warning" id="aplicadas-tab" data-toggle="tab" href="#aplicadas" role="tab" aria-controls="aplicadas" aria-selected="false">Em breve</a>
        </li>
          <li class="nav-item" role="presentation">
              <a class="nav-link text-warning" id="saude-tab" data-toggle="tab" href="#saude" role="tab" aria-controls="saude" aria-selected="false">Em breve</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="Psicologia" role="tabpanel" aria-labelledby="Psicologia-tab">
            <ul>
                <li class="text-warning"><a class="text-light" target="_blank" href="https://drive.google.com/file/d/1astY-ezsSCgLyyJg1E7U5C-PDyD40Eea/view?usp=sharing">Rápido e devagar</a></li>
                <li class="text-warning"><a class="text-light" target="_blank" href="https://drive.google.com/file/d/1eTK5hAQdrY0N0Ta3s2j2IHgX5gnwU7hc/view?usp=sharing">Mundo singular</a></li>
                <li class="text-warning"><a class="text-light" target="_blank" href="https://drive.google.com/file/d/1vGcDpYpVuWg8GZAkKW4HYbMBjELsoDpO/view?usp=sharing">O poder do hábito</a></li>
                <li class="text-warning"><a class="text-light" target="_blank" href="https://drive.google.com/file/d/1htXcYf-ukjpTTaZnnLp-icKymF8bfJXU/view?usp=sharing">O que nos faz bons ou mals</a></li>
                <li class="text-warning"><a class="text-light" target="_blank" href="https://drive.google.com/file/d/1VbUq4QG0QKTQrtpy3LR4st5tNVDuWowh/view?usp=sharing">A interpretação dos sonhos</a></li>
                <li class="text-warning"><a class="text-light" target="_blank" href="https://drive.google.com/file/d/1EWHB_kzY0Xd2l8Oz5ejrqWNgMNhvyRDe/view?usp=sharing">Freud e o inconsciente</a></li>
                <li class="text-warning"><a class="text-light" target="_blank" href="https://drive.google.com/file/d/1wdYnNFAE6MyMWuJxE3qwVXJHnExRwu2o/view?usp=sharing">A linguagem das emoções</a></li>
                <li class="text-warning"><a class="text-light" target="_blank" href="https://drive.google.com/file/d/1wdYnNFAE6MyMWuJxE3qwVXJHnExRwu2o/view?usp=sharing">O erro de Descartes</a></li>
            </ul>
        </div>
        <div class="tab-pane fade" id="ficção" role="tabpanel" aria-labelledby="ficção-tab">
            <ul>
              <li class="text-warning"><a class="text-light" target="_blank" href="https://drive.google.com/file/d/1ZgutA0LBaElrZ_j-c013aSULZRZYvdqL/view?usp=sharing">Harry Potter - A pedra filosofal</a></li>
              <li class="text-warning"><a class="text-light" target="_blank" href="https://drive.google.com/file/d/1p1e9nkvLe6RiHShadx94HWhEVF-4JPWl/view?usp=sharing">Harry Potter - A câmara secreta</a></li>
              <li class="text-warning"><a class="text-light" target="_blank" href="https://drive.google.com/file/d/1Lvtdkn9Z7pwd6lBC9iqsJnh7Ghp-R7W-/view?usp=sharing">Harry Potter - O prisioneiro de Azkaban</a></li>
              <li class="text-warning"><a class="text-light" target="_blank" href="https://drive.google.com/file/d/1Lvtdkn9Z7pwd6lBC9iqsJnh7Ghp-R7W-/view?usp=sharing">Harry Potter - E o cálice de fogo</a></li>
              <li class="text-warning"><a class="text-light" target="_blank" href="https://drive.google.com/file/d/1Lvtdkn9Z7pwd6lBC9iqsJnh7Ghp-R7W-/view?usp=sharing">Harry Potter - A ordem da fenix</a></li>
              <li class="text-warning"><a class="text-light" target="_blank" href="https://drive.google.com/file/d/1Lvtdkn9Z7pwd6lBC9iqsJnh7Ghp-R7W-/view?usp=sharing">Harry Potter - O enigma do principe</a></li>
              <li class="text-warning"><a class="text-light" target="_blank" href="https://drive.google.com/file/d/1_7loOXFs1ugBSN3ghbaI1Wra16po6c9q/view?usp=sharing">Harry Potter - E as reliquias da morte </a></li>
              <li class="text-warning"><a class="text-light" target="_blank" href="https://drive.google.com/file/d/15tps4N1bQW-E1yyMkFtIz5pm9RqAiv7i/view?usp=sharing">A forma da água</a></li>
              <li class="text-warning"><a class="text-light" target="_blank" href="https://drive.google.com/file/d/16GSyLY0gYR47MLip45Xo3nrS5kgUBrpO/view?usp=sharing">Senhor dos aneis - A sociedade do Anel</a></li>
              <li class="text-warning"><a class="text-light" target="_blank" href="https://drive.google.com/file/d/1BlgYChWc1vo3BQ0fnfZxP1XiupWnIXIS/view?usp=sharing">Senhor dos aneis - As duas torres</a></li>        
              <li class="text-warning"><a class="text-light" target="_blank" href="https://drive.google.com/file/d/1BlgYChWc1vo3BQ0fnfZxP1XiupWnIXIS/view?usp=sharing">Senhor dos aneis - O retorno do Rei</a></li>
          </ul>
        </div>
        <div class="tab-pane fade" id="aplicadas" role="tabpanel" aria-labelledby="aplicadas-tab">
          <ul>
            <li class="text-warning"><a class="text-light" target="_blank" href=""></a></li>
            <li class="text-warning"><a class="text-light" target="_blank" href=""></a></li>
            <li class="text-warning"><a class="text-light" target="_blank" href=""></a></li>
            <li class="text-warning"><a class="text-light" target="_blank" href=""></a></li>
            <li class="text-warning"><a class="text-light" target="_blank" href=""></a></li>
            <li class="text-warning"><a class="text-light" target="_blank" href=""></a></li>
            <li class="text-warning"><a class="text-light" target="_blank" href=""></a></li>
          </ul>
        </div>
        <div class="tab-pane fade" id="saude" role="tabpanel" aria-labelledby="saude-tab">
          <ul>
              <li class="text-warning"><a class="text-light" target="_blank" href=""></a></li>
          </ul>
        </div>
      </div>
    </div>
</div>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
    async defer>
</script>
<script type="text/javascript">
  var onloadCallback = function() {
    alert("grecaptcha is ready!");
  };
</script>
