<div class="container my-5">
		<div class="row">	
		<!--Login-->
			<div class="col-sm-2 "></div>
            <div class="col-sm-8 px-3 ">
				<div class="card">
					<div class="card-header text-center">
                        <img src="https://is5-ssl.mzstatic.com/image/thumb/Podcasts123/v4/1a/76/3e/1a763e3d-12dd-7ab4-d306-ef2d6c4c7213/mza_17291877266667122255.jpg/600x600bb.jpg" style="width: 200px; height: 150px;" class="img-fluid" alt="Responsive image">
                    </div>
					<div class="card-body">
						<form action="/auth/authenticate" method="POST">
							
                            <div class="form-group">
									<label for="FormEmail">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="email@exemplo.com">
							</div>
							<div class="form-group">
									<label for="FormSenha">Senha</label>
									<input type="password" class="form-control" name="password" id="password" placeholder="Senha">
								</div>
							<div class="text-center">
                            <button type="submit" class="btn btn-dark mt-2 align-middle">Login</button>
                            </div>
                        </form>
					</div>
				</div>
			</div>
            <div class="col-sm-2 "></div>
        </div>
	</div>