<div class="container my-5 text-center">
	<div class="card-deck col-sm-4" style="margin: 0 auto;">
		<div class="card" style="box-shadow: 11px 9px 7px rgba(50, 50, 50, 0.77);">
			<img src="https://abrilguiadoestudante.files.wordpress.com/2016/10/sofrendo-nos-estudos.gif" class="card-img-top" alt="...">
			<div class="card-body">
				<form action="/auth/authenticate" method="POST">
					<div class="form-group">
						<input type="email" class="form-control" id="email" name="email" placeholder="email@exemplo.com">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" name="password" id="password" placeholder="Senha">
						</div>
					<div class="text-center">
					<button type="submit" class="btn btn-dark mt-2 align-middle">Login</button>
					</div>
				</form>
			<p class="card-text"></p>
			</div>
			<div class="card-footer">
			<small class="text-muted"><a href="/user/enviaEmail">Esqueci minha senha</a></small>
			</div>
		</div>
	</div>
</div>

